
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    max-width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding-top: var(--gutter);
    margin: var(--gutter);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h4 {
    margin: 5px;
}

.top-section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-div {
    max-height: 100%;
    border: solid 2px black;
}

form {
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.form-button-div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}

#form-header {
    text-align: center;
}

.poll-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px black;
    border-left: 0px;
}

.current-poll-container {
    display: flex;
    justify-content: center;
}

.poll {
    border: solid 1px black;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.top-buttons {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
}

.top-buttons button {
    width: 30px;
}

.right-buttons, .left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.bottom-buttons {
    padding: 20px;
}

.bottom-section {
    border: solid 2px black;
}

.past-polls-header {
    text-align: center;
}

.past-polls-container {
    display: flex;
    flex-flow: wrap;
}